@tailwind base;
@tailwind components;
@tailwind utilities;


[data-theme='dark'],
[data-theme='dark'] body {
  color: #fff;
  background-color: #121212;
}

.base-container {
  @apply mx-auto px-4 sm:px-6 lg:px-8;
  max-width: 65rem;
}

.menu-text {
  @apply text-base font-normal;
}